<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--
        <link rel="icon" href="{{ asset("collaboration.png") }}" />
        -->
        <link rel="stylesheet" href="{{ asset("assets/bootstrap/css/bootstrap.css") }}">
        <link rel="stylesheet" href="{{ asset("assets/style.css") }}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <title>Wikebec</title>
    </head>
    <body>
        <header>

        </header>
        <main>
            <nav class="navbar" style="background-color: white;" >
                <a class="navbar-brand" href="{{ path('main') }}">
                    <img src="{{ asset("assets/img/flag.jpg") }}" width="100" class="d-inline-block align-top" alt="">
                </a>
                <form action="{{ path('termSearch') }}" class="form-inline" style="margin-top: 20px;">
                    <div style="margin-left: auto; margin-right: auto; width: 100%;">
                        <input class="form-control col-auto" type="search" name="keyword" placeholder="Recherche" aria-label="Recherche" value="{{ app.request.get('keyword') }}">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                    </div>
                </form>
                <div>
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                        {%  if app.user %}
                            <a class="nav-link" href="{{ path('logout') }}" title="logout">Se Déconnecter</a>
                        {% else %}
                            <a href="{{ path('login') }}"  class="btn btn-primary">Se Connecter</a>
                            <a href="{{ path('register') }}"  class="btn btn-light">S'inscrire</a>
                        {% endif %}

                    </div>

                </div>
            </nav>
            <div class="row" style="height: 80vh; width: 100%;">
                <div class="col-2" style="position: relative; padding: 0;">
                    <div style="background-color: white; position: absolute; bottom: 0px; width: 100%; top: 0px;">
                        <ul style="list-style-type: none; text-align: center; margin-top: 50px;">
                            <div class="blockmenu">
                                <a  href="{{ path('main') }}" style="color: #1e8d9f;" >
                                    <li><p><i class="fas fa-book"></i></p></li>
                                    <li><p>Dictionnaire / Accueil</p></li>
                                </a>
                            </div>
                            <hr>
                            <div class="blockmenu">
                                <a href="#" style="color: #ac0000;">
                                    <li><p><i class="fas fa-heart"></i></p></li>
                                    <li><p>Coups de coeur</p></li>
                                </a>
                            </div>
                            <hr>
                            <div class="blockmenu">
                                <a href="{{ path('termAdd') }}" style="color: #efd41d;">
                                    <li><p><i class="fas fa-thumbs-up"></i></p></li>
                                    <li><p>Contribuer</p></li>
                                </a>
                            </div>
                            <hr>
                            <div class="blockmenu">
                                <a href="{{ path('about') }}" style="color: #9627ff;">
                                    <li><p><i class="fas fa-info"></i></p></li>
                                    <li><p>A propos</p></li>
                                </a>
                            </div>
                        </ul>

                    </div>
                </div>
                <div class="col-10" style="background-color: #ededef; padding: 0; height: 100vh;">
                    {% block main %} {% endblock %}
                </div>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>